<?xml version="1.0"?>
<things>
 <strings>
    <string id="index">etc/themes/slightamnesia</string>
    <string id="source">http://lawker.googlecode.com/svn/fridge</string>
    <string id="site">http://awk.info</string>
    <string id="default">index</string>
    <string id="title">awk.info</string>
    <string id="copyright">
      <![CDATA[
           Content &copy; 2009 <a href="http://awk.info/?who/timm">Tim Menzies</a>
             under  <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GPL 3.0</a>.
           Design by <a href="http://raykdesign.net">raykdesign.net</a>. 
<br>           Auk images &copy; 2009 <a href="http://awk.info/?doc/who/mikelangman.html">Mike Langman</a>.
<p>&nbsp;

]]>
    </string>
    <string id="menu1">
      <![CDATA[  <ul>
                 <li><a href="?index">Home</a>        </li>
                 <li><a href="?advocacy">Why Awk?</a> </li> 
                 <li><a href="?Learn">Learn Awk</a> </li> 
                 <li><a href="?awk100">Awk100</a> </li> 
		 <li><a href="?Top10">Top 10</a> </li>
		 <li><a href="?XML">XML</a> </li>
		 <li><a href="?Funky">Funky</a></li>
                 <li><a href="?contribute">Contribute</a> </li>
		<li><a href="http://tinyurl.com/rss4awk"><img src="http://lawker.googlecode.com/svn/fridge/share/img/rss.gif"></a> </li>
              
<small><a href="mailto:mail@awk.info">mail@awk.info</a></small>
                 </ul>
              ]]>
    </string>
    <string id="nav1">
      <![CDATA[
<center><h2>Awk.Info</h2>
               <a href="http://www.mikelangman.co.uk/">
		 <img id="logo" 
border=0 alt="Little Auk painting from mikelangman.co.uk" 
src="http://lawker.googlecode.com/svn/fridge/etc/themes/slightamnesia/leaves_brown.jpg" /></a>
               <div id="left_quote">"Cause a little
                   <strike>auk</strike> awk<br>goes a long way."</div>
<form action="http://www.google.com/cse" id="cse-search-box">
    <p><input type="hidden" name="cx" value="015406670773682269893:eass5lh8s-w" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="submit" name="sa" value="/Find/" /><input type="text" name="q" value="{print FILENAME,$0}" size="16" />
</form>
</center>
<script type="text/javascript" 
src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
<hr>
            ]]>
    </string>
    <string id="nav3">
      <![CDATA[
<p id="in">
About awk.info<br> 
&nbsp;&raquo;&nbsp; table of <a href="?var/toc">contents</a> <br> 
&nbsp;&raquo;&nbsp; featured <a href="?topics">topics</a>  <br>
&nbsp;&raquo;&nbsp; page <a href="?var/tags">tags</a>  
<hr>
About Awk<br>
&nbsp;&raquo;&nbsp;  <a href="http://awk.info/?advocacy">advocacy</a><br>
&nbsp;&raquo;&nbsp;  <a href="?Learn">learning</a><br>
&nbsp;&raquo;&nbsp;  <a href="?history">history</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://en.wikipedia.org/wiki/Awk">Wikipedia</a> entry<br>
&nbsp;&raquo;&nbsp;  <a href="?Mascot">mascot</a>  
 <hr>
Implementations<br>
&nbsp;&raquo;&nbsp; <a href="http://plan9.bell-labs.com/cm/cs/who/bwk/awk.tar.gz">Awk</a> (rarely used)<br>
&nbsp;&raquo;&nbsp; <a href="http://www.cs.princeton.edu/~bwk/btl.mirror/awk.tar.gz">Nawk</a> (the-one-true, old)<br>
&nbsp;&raquo;&nbsp; <a href="http://www.gnu.org/software/gawk/">Gawk</a> (widely used)<br> 
&nbsp;&raquo;&nbsp; <a href="http://freshmeat.net/projects/mawk/">Mawk</a> <br>
&nbsp;&raquo;&nbsp; <a href="http://home.vrweb.de/~juergen.kahrs/gawk/XML/">Xgawk</a> (gawk + xml + ...)<br>
&nbsp;&raquo;&nbsp; <a href="?Spawk">Spawk</a> (SQL + awk)<br>
&nbsp;&raquo;&nbsp; <a href="http://awk.info/?jawk">Jawk</a> (Awk in Java JVM)<br>
&nbsp;&raquo;&nbsp; <a href="?qtawk">QTawk</a> (extensions to gawk)<br>
&nbsp;&raquo;&nbsp; <a href="?tools/runawk">Runawk</a> (a runtime tool)<br>
&nbsp;&raquo;&nbsp; <a href="http://www.shelldorado.com/articles/awkcompat.html">platform support</a>

<hr>
Coding<br>
&nbsp;&raquo;&nbsp;  <a href="http://awk.info/?OneLiners">one-liners</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://awk.info/?TenLiners">ten-liners</a><br>
&nbsp;&raquo;&nbsp;  <a href="?Tips">tips</a><br>
&nbsp;&raquo;&nbsp;  the <a href="?awk100">Awk 100</a>

<hr>
Community<br>
&nbsp;&raquo;&nbsp;  read our  <a href="http://lawker.blogspot.com">blog</a><br>
&nbsp;&raquo;&nbsp;  read/write the <a href="http://awk.freeshell.org/">awk wiki</a><br>
&nbsp;&raquo;&nbsp;  discussion <a href="http://groups.google.com/group/comp.lang.awk/topics">news group</a><br>
<!--- &nbsp;&raquo;&nbsp;  hot topics last <a href="http://awk.info/?var/top10subjects">week</a>,<a href="http://awk.info/?var/top10subjectslastyear">year</a><br>
&nbsp;&raquo;&nbsp;  hot authors last <a href="http://awk.info/?var/top10posters">week</a>,<a href="http://awk.info/?var/top10posterslastyear">year</a><br> --->
<hr>
Libraries<br>
&nbsp;&raquo;&nbsp;  <a href="http://code.google.com/p/lawker/source/browse/fridge/gawk/">Gawk</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://homepage.mac.com/stefan.tramm/iWiki/DownloadSection.html">Xgawk</a><br>
&nbsp;&raquo;&nbsp;  the <a href="?code">Lawker</a> library
<hr>
Online doc<br>
&nbsp;&raquo;&nbsp;  <a href="http://lawker.googlecode.com/svn/fridge/share/pdf/awkcard.pdf">reference card</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://lawker.googlecode.com/svn/fridge/share/pdf/cheatsheet.pdf">cheat sheet</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://www.nrl.navy.mil/code5595/online-software/manpages/gawk-manpage.html">manual pages</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://www.faqs.org/faqs/computer-lang/awk/faq/">FAQ</a><br>
<hr>Reading<br>
&nbsp;&raquo;&nbsp;  <a href="?Papers">articles</a><br>
&nbsp;&raquo;&nbsp;  books:
<p>
<table width="150px" border="0" padding="0">
<tr><td align="right"><a href="http://www.amazon.com/AWK-Programming-Language-Alfred-Aho/dp/020107981X/ref=pd_sim_b_5">
<img border=0 height=100 src="http://lawker.googlecode.com/svn/fridge/share/img/theAwkBookCover.gif"></a>
</td>
<td>
<a href="http://www.amazon.com/Effective-awk-Programming-Arnold-Robbins/dp/0596000707/ref=pd_sim_b_1"><img border=0 height=100 src="http://lawker.googlecode.com/svn/fridge/share/img/effectiveAwkCover.gif""></a>
</td>
</tr>
<tr><td>
<a href="http://www.amazon.com/sed-awk-2nd-Dale-Dougherty/dp/1565922255/ref=pd_sim_b_3"><img height=100 border=0 src="http://lawker.googlecode.com/svn/fridge/share/img/sedAwkCover.gif"></a>
</td>
<td><a href="http://www.amazon.com/Classic-Shell-Scripting-Arnold-Robbins/dp/0596005954/ref=pd_sim_b_2"><img border=0 height=100 src="http://lawker.googlecode.com/svn/fridge/share/img/classicScripting.gif"></a>
</td></tr>
<tr><td>
<a href="http://www.amazon.com/Mastering-Regular-Expressions-Jeffrey-Friedl/dp/0596528124/ref=sr_1_1?ie=UTF8&s=books&qid=1240798787&sr=1-1"><img border=0 height=100 src="http://lawker.googlecode.com/svn/fridge/share/img/masteringReCover.gif" border=0>
</td>
<td>
<a href="http://www.amazon.com/Learning-Editor-6th-Arnold-Robbins/dp/1565924266/ref=bxgy_cc_b_img_b"><img height=100 border=0 src="http://lawker.googlecode.com/svn/fridge/share/img/viCover.gif"></a>
</td></tr></table>
]]>
    </string>
    <string id="beforeRss">
      <![CDATA[
<h3>WHAT'S NEW? </h3><p> ]]>
    </string>
    <string id="afterRss">
            <![CDATA[
<p>
<a href="http://lawker.blogspot.com">[More ...]</a>
<!--- p>FACT: Auks  eat polar bear <a href="http://en.wikipedia.org/wiki/Little_Auk#Habitat_and_ecology">leftovers</a>.</p> </p --->
<!--   Button BEGIN -->
<p>
<script type="text/javascript">var addthis_pub="timmenzies";</script>
<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" border="0" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
<!-- AddThis Button END -->

]]>
    </string>
    <string id="join"><![CDATA[/<join>(.*)<\/join>/]]></string> 
    <string id="delimiter">``</string>
    <string id="lisp"><![CDATA[/(^\#\||\|\#|^;)/]]> </string>
    <string id="awk"><![CDATA[/^#/]]> </string>
    <string id="htxml"></string>

    <string id="googleAnalyticsTrackingCode"><![CDATA[

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3798687-3");
pageTracker._trackPageview();
} catch(err) {}</script>
       ]]></string>

  </strings>







 <files>
	<file where="doc/topics.html">
		<title>Topics</title>
		<what>Sitemap</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/var/toc.html">
		<title>Table of Contents</title>
		<what>Sitemap</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/var/tags.html">
		<title>List of Tags</title>
		<what>Sitemap</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/awk100.html">
		<title>Awk100</title>
		<what>Awk100</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/sysadmin.html">
		<title>Sys Admin tricks in Awk</title>
		<what>SysAdmin</what>
		<what>Oct</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/top10.html">
		<title>Top 10 pages</title>
		<what>Top10</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/credits.html">
		<title>Credits</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/who/jimh.html">
		<title>Jim Hart</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Jimh</what>
	</file>
	<file where="doc/who/ronl.html">
		<title>Ronald Loui</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/who/timm.html">
		<title>Tim Menzies</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/who/ed.html">
		<title>Ed Morton</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>EdM</what>
	</file>
	<file where="doc/who/mikelangman.html">
		<title>Mike Langman</title>
		<what>Who</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Mikel</what>
	</file>
	<file where="doc/who/arnoldr.html">
		<title>Arnold Robbins</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/who/steffen.html">
		<title>Steffen Schuler</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Steffen</what>
	</file>
	<file where="doc/who/greatauk.html">
		<title>Great Auks</title>
		<what>Who</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/advocacy.html">
		<title>Advocacy</title>
		<what>Misc</what>
		<what>WhyAwk</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/community.html">
		<title>Community</title>
		<what>Misc</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/contact.html">
		<title>Contact</title>
		<what>Misc</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/index.html">
		<title>Awk.info</title>
		<what>Misc</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/code.html">
		<title>Coding</title>
		<what>Misc</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/mascot.html">
		<title>Mascot</title>
		<what>Mascot</what>
		<what>Misc</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/awk4ai.html">
		<title>Awk for AI</title>
		<what>Top10</what>
		<what>Papers</what>
		<what>Misc</what>
		<what>WhyAwk</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/praise.html">
		<title>In praise of scripting</title>
		<what>Top10</what>
		<what>Misc</what>
		<what>Papers</what>
		<what>WhyAwk</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/history.html">
		<title>History</title>
		<what>Misc</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/whygawk.html">
		<title>Why Gawk?</title>
		<what>Misc</what>
		<what>WhyAwk</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/awksys.html">
		<title>Awk for system programming</title>
		<what>SysAdmin</what>
		<what>Papers</what>
		<what>WhyAwk</what>
		<what>Apr</what>
		<what>2009</what>
		<what>HenryS</what>
	</file>
	<file where="doc/verify.html">
		<title>Verification</title>
		<what>Verification</what>
		<what>Jul</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/databases.html">
		<title>Databases</title>
		<what>Databases</what>
		<what>Jul</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/games.html">
		<title>Awk Games</title>
		<what>Games</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/game.html">
		<title>An Awk Dungeon Adventure Game</title>
		<what>Games</what>
		<what>Nov</what>
		<what>2009</what>
		<what>PPuri</what>
	</file>
	<file where="doc/story.html">
		<title>Writing SciFi</title>
		<what>Games</what>
		<what>Top10</what>
		<what>TenLiners</what>
		<what>Mar</what>
		<what>2009</what>
		<what>BrianK</what>
	</file>
	<file where="doc/montyhall.html">
		<title>Monty Hall Problem</title>
		<what>TenLiners</what>
		<what>Mar</what>
		<what>2009</what>
		<what>DonaldM</what>
	</file>
	<file where="doc/gender.html">
		<title>Predicting Gender</title>
		<what>Top10</what>
		<what>TenLiners</what>
		<what>Mar</what>
		<what>2009</what>
		<what>ScottP</what>
	</file>
	<file where="doc/eliza.html">
		<title>Eliza</title>
		<what>Games</what>
		<what>TenLiners</what>
		<what>Eliza</what>
		<what>Apr</what>
		<what>2009</what>
		<what>JuergenK</what>
	</file>
	<file where="doc/hanoi.html">
		<title>Towers of Hanoi</title>
		<what>TenLiners</what>
		<what>Apr</what>
		<what>2009</what>
		<what>AlanL</what>
	</file>
	<file where="doc/readminds.html">
		<title>How to Read Minds</title>
		<what>Games</what>
		<what>TenLiners</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Anon</what>
	</file>
	<file where="doc/mastermind.html">
		<title>Mastermind</title>
		<what>Games</what>
		<what>TenLiners</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Ysa</what>
	</file>
	<file where="doc/mastermind2.html">
		<title>Mastermind (again)</title>
		<what>Games</what>
		<what>May</what>
		<what>2009</what>
		<what>SteveL</what>
	</file>
	<file where="doc/checkers.html">
		<title>Checkers</title>
		<what>Games</what>
		<what>May</what>
		<what>2009</what>
		<what>AaronH</what>
	</file>
	<file where="doc/tictactoe.html">
		<title>Tic-tac-toe</title>
		<what>Games</what>
		<what>May</what>
		<what>2009</what>
		<what>AaronH</what>
	</file>
	<file where="doc/quicksort.html">
		<title>Quicksort</title>
		<what>Sorting</what>
		<what>TenLiners</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Ysa</what>
	</file>
	<file where="doc/qtawk.html">
		<title>QTawk</title>
		<what>May</what>
		<what>2009</what>
		<what>TerryB</what>
	</file>
	<file where="doc/news/japanesemascot.html">
		<title>New mascot</title>
		<what>Mascot</what>
		<what>Jan</what>
		<what>2010</what>
		<what>HiroS</what>
	</file>
	<file where="doc/news/runawk019.html">
		<title>Runawk 0.19</title>
		<what>Runawk</what>
		<what>Project</what>
		<what>Tools</what>
		<what>Jan</what>
		<what>2010</what>
		<what>AlexC</what>
	</file>
	<file where="doc/news/android.html">
		<title>Awk on Android</title>
		<what>Android</what>
		<what>Jan</what>
		<what>2010</what>
		<what>MartinC</what>
	</file>
	<file where="doc/news/popular.html">
		<title>Awk.info Gaining Popularity</title>
		<what>Nov</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/news/awkbot.html">
		<title>Awkbot:</title>
		<what>Nov</what>
		<what>2009</what>
		<what>ScottS</what>
	</file>
	<file where="doc/news/awkmug.html">
		<title>Awk Mug</title>
		<what>Oct</what>
		<what>2009</what>
		<what>Zazzle</what>
	</file>
	<file where="doc/news/parallelAwk.html">
		<title>Parallel Awk</title>
		<what>Oct</what>
		<what>2009</what>
		<what>JohnD</what>
	</file>
	<file where="doc/wst.html">
		<title>Waclaw Sierpinski's Triangle</title>
		<what>Dec</what>
		<what>2009</what>
		<what>DanN</what>
	</file>
	<file where="doc/tools/rot13.html">
		<title>Rot13 in Awk</title>
		<what>Jan</what>
		<what>2010</what>
		<what>MichealS</what>
	</file>
	<file where="doc/tools/netdraw.html">
		<title>Network monitoring in Awk</title>
		<what>Os</what>
		<what>Jan</what>
		<what>2010</what>
		<what>GrantC</what>
	</file>
	<file where="doc/tools/qse.html">
		<title>QSE: an embeddable Awk Interpreter</title>
		<what>Jan</what>
		<what>2010</what>
		<what>HyungC</what>
	</file>
	<file where="doc/tools/winwsh.html">
		<title>Simple Awk GUIs in Windows</title>
		<what>GUI</what>
		<what>Jan</what>
		<what>2010</what>
		<what>MichaelS</what>
	</file>
	<file where="doc/tools/server.html">
		<title>A Web Server in Awk</title>
		<what></what>
		<what>Web</what>
		<what>Dec</what>
		<what>2009</what>
		<what>MichealS</what>
	</file>
	<file where="doc/tools/myrss.html">
		<title>Reading RSS feeds</title>
		<what></what>
		<what>Rss</what>
		<what>Dec</what>
		<what>2009</what>
		<what>TimM</what>
	</file>
	<file where="doc/tools/rcalc.html">
		<title>Resistor Calculation</title>
		<what></what>
		<what>Engineering</what>
		<what>Nov</what>
		<what>2009</what>
		<what>GrantC</what>
	</file>
	<file where="doc/tools/zipf.html">
		<title>Zipf's Law</title>
		<what></what>
		<what>TextMining</what>
		<what>Oct</what>
		<what>2009</what>
		<what>JohnF</what>
	</file>
	<file where="doc/news/mawkHashing.html">
		<title>Faster Hashing in Mawk</title>
		<what></what>
		<what>Mawk</what>
		<what>Oct</what>
		<what>2009</what>
		<what>JMellander</what>
	</file>
	<file where="doc/news/mawkIsFast.html">
		<title>Mawk: faster than C, C++, Java, Perl, Ruby....</title>
		<what></what>
		<what>Mawk</what>
		<what>Oct</what>
		<what>2009</what>
		<what>BrendanO</what>
	</file>
	<file where="doc/news/robbinsTalks.html">
		<title>Interview with Arnold Robbins</title>
		<what></what>
		<what>Aug</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/news/libmawk.html">
		<title>How to call Awk form "C" with Libmawk</title>
		<what>Mawk</what>
		<what>Libmawk</what>
		<what>Aug</what>
		<what>2009</what>
		<what>TiborP</what>
	</file>
	<file where="doc/news/awkeye.html">
		<title>New Awk Mascot ('AWK-eye the Dwarf)?</title>
		<what>Mascot</what>
		<what>Jul</what>
		<what>2009</what>
		<what>DickL</what>
	</file>
	<file where="doc/news/theAwkBook.html">
		<title>The Awk Book's Code</title>
		<what>News</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/news/runawk018.html">
		<title>Runawk 0.18</title>
		<what>Runawk</what>
		<what>Project</what>
		<what>Tools</what>
		<what>Nov</what>
		<what>2009</what>
		<what>AlexC</what>
	</file>
	<file where="doc/news/runawk017.html">
		<title>Runawk 0.17</title>
		<what>Runawk</what>
		<what>Project</what>
		<what>Tools</what>
		<what>Sept</what>
		<what>2009</what>
		<what>AlexC</what>
	</file>
	<file where="doc/news/runawk016.html">
		<title>Runawk 0.16</title>
		<what>Runawk</what>
		<what>Project</what>
		<what>Tools</what>
		<what>Apr</what>
		<what>2009</what>
		<what>AlexC</what>
	</file>
	<file where="doc/news/awksnake.html">
		<title>Awk snake</title>
		<what>Mascot</what>
		<what>Sept</what>
		<what>2009</what>
		<what>PanosP</what>
	</file>
	<file where="doc/news/davinci.html">
		<title>Davinci mascot</title>
		<what>Mascot</what>
		<what>Apr</what>
		<what>2009</what>
		<what>VenkatesanS</what>
	</file>
	<file where="doc/wp.html">
		<title>Word-processing in Awk</title>
		<what>Wp</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/interpreters.html">
		<title>Interpreters</title>
		<what>Interpreters</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/023vitamna.html">
		<title>IRC agent in AWK</title>
		<what>Awk100</what>
		<what>Irc</what>
		<what>Feb</what>
		<what>2010</what>
		<what>Pjanouch</what>
	</file>
	<file where="doc/aasl.html">
		<title>Parser Generator</title>
		<what>Awk100</what>
		<what>Interpreters</what>
		<what>Apr</what>
		<what>2009</what>
		<what>HenryS</what>
	</file>
	<file where="doc/bfc.html">
		<title>Brainfuck to C</title>
		<what>Interpreters</what>
		<what>May</what>
		<what>2009</what>
		<what>SteveJ</what>
	</file>
	<file where="doc/oo.html">
		<title>OO tools in Awk</title>
		<what>Oo</what>
		<what>May</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/dsl.html">
		<title>Domain-Specific Langauges</title>
		<what>Dsl</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/dsl/graph.html">
		<title>Graph</title>
		<what>Dsl</what>
		<what>Mar</what>
		<what>2009</what>
		<what>BrianK</what>
		<what>PeterW</what>
		<what>AlfredA</what>
	</file>
	<file where="doc/dsl/uml.html">
		<title>UML: sequence diagrams</title>
		<what>Dsl</what>
		<what>April</what>
		<what>2009</what>
		<what>MartinF</what>
	</file>
	<file where="doc/dsl/awklisp.html">
		<title>awklisp</title>
		<what>Eliza</what>
		<what>Top10</what>
		<what>AwkLisp</what>
		<what>Interpreters</what>
		<what>Dsl</what>
		<what>Mar</what>
		<what>2009</what>
		<what>DariusB</what>
	</file>
	<file where="doc/awk100/aaa.html">
		<title>Amazing Awk Assembler</title>
		<what>Awk100</what>
		<what>Top10</what>
		<what>Interpreters</what>
		<what>Dsl</what>
		<what>Apr</what>
		<what>2009</what>
		<what>HenryS</what>
	</file>
	<file where="doc/tools/adoc.html">
		<title>Convert Code Comments  to Latex</title>
		<what>Wp</what>
		<what>Dec</what>
		<what>2009</what>
		<what>PeterI</what>
	</file>
	<file where="doc/dsl/markdown2.html">
		<title>md2html : Update to Markdown.awk</title>
		<what>Wp</what>
		<what>Dsl</what>
		<what>Jul</what>
		<what>2009</what>
		<what>JesusG</what>
	</file>
	<file where="doc/dsl/markdown.html">
		<title>Markdown</title>
		<what>Top10</what>
		<what>Wp</what>
		<what>Dsl</what>
		<what>Mar</what>
		<what>2009</what>
		<what>JesusG</what>
	</file>
	<file where="doc/dsl/awkplusplus.html">
		<title>Awk++</title>
		<what>Awk100</what>
		<what>Oo</what>
		<what>Dsl</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Jimh</what>
	</file>
	<file where="doc/dsl/ooc.html">
		<title>Awk + Ansi-C = OO</title>
		<what>Awk100</what>
		<what>Oo</what>
		<what>Dsl</what>
		<what>May</what>
		<what>2009</what>
		<what>AlexS</what>
	</file>
	<file where="doc/awkastar.html">
		<title>Building Interpreters with A*</title>
		<what>Interpreters</what>
		<what>Apr</what>
		<what>2009</what>
		<what>DavidL</what>
	</file>
	<file where="doc/funky.html">
		<title>Functional Gawk</title>
		<what>Funky</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/funcChallenge.html">
		<title>Functional Challenge</title>
		<what>Funky</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/tip/bigstring.html">
		<title>300 million characters (in an Awk string)</title>
		<what>Jan</what>
		<what>2010</what>
		<what>MartinC</what>
	</file>
	<file where="doc/sed.html">
		<title>Sed-clones (in Awk)</title>
		<what>Sed</what>
		<what>Tips</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tip/shortenMyPipes.html">
		<title>Shorten my pipes</title>
		<what>SysAdmin</what>
		<what>Oct</what>
		<what>2009</what>
		<what>M0J0</what>
	</file>
	<file where="doc/tip/sedInAwk.html">
		<title>Sed in Awk</title>
		<what>Sed</what>
		<what>Tips</what>
		<what>Oct</what>
		<what>2009</what>
		<what>EdM</what>
	</file>
	<file where="doc/fastre.html">
		<title>Regular Expression Matching Can Be Simple And Fast</title>
		<what>Jul</what>
		<what>2009</what>
		<what>RussC</what>
	</file>
	<file where="doc/news/whinyfix.html">
		<title>Errata: WHINY_USERS slows down Awk</title>
		<what>Errata</what>
		<what></what>
		<what>Nov</what>
		<what>2009</what>
		<what>HermannP</what>
	</file>
	<file where="doc/tip/whinyUsers.html">
		<title>The Secret WHINY_YSERS flag</title>
		<what>Tips</what>
		<what>Sept</what>
		<what>2009</what>
		<what>EdM</what>
	</file>
	<file where="doc/tip/printranges.html">
		<title>Printing ranges</title>
		<what>Tips</what>
		<what>Aug</what>
		<what>2009</what>
		<what>EdM</what>
	</file>
	<file where="doc/tip/awk4db.html">
		<title>Using Awk for Databases</title>
		<what>Databases</what>
		<what>Tips</what>
		<what>Jul</what>
		<what>2009</what>
		<what>VictorA</what>
	</file>
	<file where="doc/tip/random.html">
		<title>Random Numbers in Gawk</title>
		<what>Tips</what>
		<what>Jul</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tip/superFor.html">
		<title>Super-For loops</title>
		<what>Funky</what>
		<what>Tips</what>
		<what>Mar</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/tip/readheaders.html">
		<title>Using field names to reference columns</title>
		<what>Tips</what>
		<what>Aug</what>
		<what>2009</what>
		<what>JanisP</what>
	</file>
	<file where="doc/tip/getline.html">
		<title>Getline</title>
		<what>Getline</what>
		<what>Tips</what>
		<what>Jan</what>
		<what>2009</what>
		<what>EdM</what>
	</file>
	<file where="doc/tip/noforloops.html">
		<title>Forloops</title>
		<what>Forloop</what>
		<what>Tips</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Jimh</what>
	</file>
	<file where="doc/tip/moving.html">
		<title>Moving Files with Awk</title>
		<what>Tips</what>
		<what>Apr</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/tip/awksed.html">
		<title>Simple Stream Editor</title>
		<what>Sed</what>
		<what>Tips</what>
		<what>Apr</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/s2a.html">
		<title>Sed to Awk</title>
		<what>Sed</what>
		<what>Tips</what>
		<what>Apr</what>
		<what>2009</what>
		<what>JamesL</what>
	</file>
	<file where="doc/visualawk.html">
		<title>Visual Awk</title>
		<what>Papers</what>
		<what>Jul</what>
		<what>2009</what>
		<what>JiirL</what>
	</file>
	<file where="doc/microtracer.html">
		<title>MicroTracer</title>
		<what>Papers</what>
		<what>Verification</what>
		<what>Jul</what>
		<what>2009</what>
		<what>GerardH</what>
	</file>
	<file where="doc/tools/awkdebug.html">
		<title>Debugger and Assertion Checker</title>
		<what>Papers</what>
		<what>Verification</what>
		<what>Jul</what>
		<what>2009</what>
		<what>MikhailA</what>
	</file>
	<file where="doc/verifyawk.html">
		<title>Automated Results Verification</title>
		<what>Papers</what>
		<what>Verification</what>
		<what>Jul</what>
		<what>2009</what>
		<what>BalkhisB</what>
	</file>
	<file where="doc/fun/enumerate.html">
		<title>Functional Enumeration</title>
		<what>Funky</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/contribute.html">
		<title>How to contribute</title>
		<what>Contribute</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/prettyprint.html">
		<title>Pretty print</title>
		<what>Contribute</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/unittests.html">
		<title>Unit tests</title>
		<what>Contribute</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/learning.html">
		<title>Learning Awk</title>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/teachingawk.html">
		<title>Teaching Awk</title>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/keys2awk.html">
		<title>Four Keys to Awk</title>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/oneliners.html">
		<title>One Liners</title>
		<what>OneLiners</what>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/awk1line.html">
		<title>Handy One Liners</title>
		<what>OneLiners</what>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>EricP</what>
	</file>
	<file where="doc/explain1line.html">
		<title>Explaining Awk One Liners</title>
		<what>OneLiners</what>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tenliners.html">
		<title>Ten Liners</title>
		<what>TenLiners</what>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/samples.html">
		<title>Samples of AWK</title>
		<what>TenLiners</what>
		<what>Learn</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="gawk/array/saya.awk">
		<title>Print an Array</title>
		<what>Arrays</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="gawk/array/join.awk">
		<title>join.awk</title>
		<what>Timm</what>
		<what>Arrays</what>
		<what>Function</what>
		<what>Feb</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="gawk/array/array.awk">
		<title>array.awk</title>
		<what>Arrays</what>
		<what>Function</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/sorting.html">
		<title>Sorting</title>
		<what>Sorting</what>
		<what>Tools</what>
		<what>Nov</what>
		<what>2009</what>
		<what>EdM</what>
	</file>
	<file where="doc/j.html">
		<title>Awk's Equivalent to VI's J</title>
		<what></what>
		<what>Dec</what>
		<what>2009</what>
		<what>KennyM</what>
		<what>EdM</what>
	</file>
	<file where="doc/tools/o.html">
		<title>Sorting Arrays Via the Shell</title>
		<what></what>
		<what>Sorting</what>
		<what>Dec</what>
		<what>2009</what>
		<what>DebbieF</what>
	</file>
	<file where="doc/quicksort2.html">
		<title>Quicksort2</title>
		<what>Sorting</what>
		<what>TenLiners</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Awk</what>
	</file>
	<file where="doc/tools/levenshtein.html">
		<title>levenshtein.awk</title>
		<what>Tools</what>
		<what>Nov</what>
		<what>2009</what>
		<what>PierreG</what>
	</file>
	<file where="doc/tools/columnate.html">
		<title>Columnate</title>
		<what>Tools</what>
		<what>Nov</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tools/widenbmp.html">
		<title>Widen bitmaps, using Gawk</title>
		<what>Graphics</what>
		<what>Sept</what>
		<what>2009</what>
		<what>TedD</what>
	</file>
	<file where="doc/bitmaps.html">
		<title>Processing Bitmaps in Gawk</title>
		<what>Graphics</what>
		<what>Jul</what>
		<what>2009</what>
		<what>TedD</what>
	</file>
	<file where="doc/news/spawk4suse.html">
		<title>Spawk for SuSE Linux</title>
		<what>Databases</what>
		<what>Spawk</what>
		<what>Dec</what>
		<what>2009</what>
		<what>PanosP</what>
	</file>
	<file where="doc/tools/spawk-in-googlecode.html">
		<title>Spawk in GoogleCode</title>
		<what>Databases</what>
		<what>Spawk</what>
		<what>Jul</what>
		<what>2009</what>
		<what>PanosP</what>
	</file>
	<file where="doc/tools/spawk.html">
		<title>SQL Powered AWK</title>
		<what>Spawk</what>
		<what>Databases</what>
		<what>Jul</what>
		<what>2009</what>
		<what>PanosP</what>
	</file>
	<file where="doc/macro.html">
		<title>Macro pre-processors</title>
		<what>Macros</what>
		<what>Tools</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/tools/fsm.html">
		<title>Finite State Machine Generator</title>
		<what>Tools</what>
		<what>Jul</what>
		<what>2009</what>
		<what>WmM</what>
	</file>
	<file where="doc/tools/cryptosig.html">
		<title>Hiding Email Address</title>
		<what>Sigs</what>
		<what>Tools</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Anon</what>
	</file>
	<file where="doc/tools/sigs.html">
		<title>Generating random sigs</title>
		<what>Sigs</what>
		<what>Tools</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/tools/correlate.html">
		<title>Correlation between numbers</title>
		<what>Stats</what>
		<what>Tools</what>
		<what>May</what>
		<what>2009</what>
		<what>TimS</what>
	</file>
	<file where="doc/music.html">
		<title>Music tools and Awk</title>
		<what></what>
		<what>Music</what>
		<what>Tools</what>
		<what>June</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/project.html">
		<title>Project Tools</title>
		<what>Project</what>
		<what>Tools</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tools/mysql.html">
		<title>MySql</title>
		<what>Databases</what>
		<what>Oct</what>
		<what>2009</what>
		<what>ScottS</what>
	</file>
	<file where="doc/tools/nosql.html">
		<title>NoSQL</title>
		<what>Databases</what>
		<what>Jul</what>
		<what>2009</what>
		<what>CarloS</what>
	</file>
	<file where="doc/tools/plait.html">
		<title>Playing music</title>
		<what>Awk100</what>
		<what></what>
		<what>Music</what>
		<what>Tools</what>
		<what>June</what>
		<what>2009</what>
		<what>StephenJ</what>
	</file>
	<file where="doc/tools/humdrum.html">
		<title>Music analysis workbench</title>
		<what></what>
		<what>Music</what>
		<what>Tools</what>
		<what>June</what>
		<what>2009</what>
		<what>DavidH</what>
	</file>
	<file where="doc/tools/shuffle.html">
		<title>Shuffle.awk</title>
		<what>TenLiners</what>
		<what>Tools</what>
		<what>June</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/tools/runawk.html">
		<title>runawk</title>
		<what>Runawk</what>
		<what>Project</what>
		<what>Tools</what>
		<what>Mar</what>
		<what>2009</what>
		<what>AlexC</what>
	</file>
	<file where="doc/tools/m1.html">
		<title>m1 : simple macros</title>
		<what>Awk100</what>
		<what>Macros</what>
		<what>Tools</what>
		<what>Mar</what>
		<what>2009</what>
		<what>JonB</what>
	</file>
	<file where="doc/tools/m5.html">
		<title>m5 :  macro processor</title>
		<what>Macros</what>
		<what>Tools</what>
		<what>Mar</what>
		<what>2009</what>
		<what>WillW</what>
	</file>
	<file where="doc/tools/awkwords.html">
		<title>awkwords</title>
		<what>Wp</what>
		<what>Project</what>
		<what>Tools</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/tools/awf.html">
		<title>Amazing Awk Formatter</title>
		<what>Wp</what>
		<what>Awk100</what>
		<what>Wp</what>
		<what>Tools</what>
		<what>Apr</what>
		<what>2009</what>
		<what>HenryS</what>
	</file>
	<file where="doc/tools/spreadsheet2awk.html">
		<title>Spreadsheets and Awk.</title>
		<what>Tools</what>
		<what>May</what>
		<what>2009</what>
		<what>AlexR</what>
	</file>
	<file where="doc/pstricks.html">
		<title>Postscript tricks</title>
		<what>Ps</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tools/pschoose.html">
		<title>Print Some Postscript Pages</title>
		<what>Ps</what>
		<what>Apr</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/tools/psrev.html">
		<title>Reverse Postscript pages</title>
		<what>Ps</what>
		<what>Apr</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/tools/indent.html">
		<title>Format Shell Scripts</title>
		<what>TenLiners</what>
		<what>Apr</what>
		<what>2009</what>
		<what>PhilipB</what>
	</file>
	<file where="doc/var/top10posters.html">
		<title>Top 10 posters</title>
		<what>Newsgroup</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Steffen</what>
	</file>
	<file where="doc/var/top10subjects.html">
		<title>Top 10 subjects</title>
		<what>Newsgroup</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Steffen</what>
	</file>
	<file where="doc/var/top10posterslastyear.html">
		<title>Top 10 posters last year</title>
		<what>Newsgroup</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Steffen</what>
	</file>
	<file where="doc/var/top10subjectslastyear.html">
		<title>Top 10 subjects last year</title>
		<what>Newsgroup</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Steffen</what>
	</file>
	<file where="doc/tools/holidays.html">
		<title>Holiday date routines</title>
		<what>Dates</what>
		<what>June</what>
		<what>2009</what>
		<what>BobO</what>
	</file>
	<file where="doc/tools/nbc.html">
		<title>Naive Bayes Classifier</title>
		<what>DataMining</what>
		<what>May</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/os.html">
		<title>Operating Systems and Awk</title>
		<what>Os</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tip/sysAdminInAwk.html">
		<title>SysAdmins: Awk is Your Friend</title>
		<what>SysAdmin</what>
		<what>Oct</what>
		<what>2009</what>
		<what>BrianJ</what>
	</file>
	<file where="doc/xml.html">
		<title>XML and Awk</title>
		<what>XML</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tools/xmlparse.html">
		<title>xmlparse.awk</title>
		<what>XML</what>
		<what>June</what>
		<what>2009</what>
		<what>SteveC</what>
	</file>
	<file where="doc/jawk.html">
		<title>Jawk = Java + Awk</title>
		<what>Awk100</what>
		<what>May</what>
		<what>2009</what>
		<what>Dab</what>
	</file>
	<file where="doc/awk100/017xmlgawk.html">
		<title>XMLgawk</title>
		<what>Xgawk</what>
		<what>XML</what>
		<what>Awk100</what>
		<what>Apr</what>
		<what>2009</what>
		<what>JurgenK</what>
	</file>
	<file where="doc/news/xgawk4windows.html">
		<title>Xgawk for Windows</title>
		<what>Xgawk</what>
		<what>XML</what>
		<what>Dec</what>
		<what>2009</what>
		<what>WimVB</what>
	</file>
	<file where="doc/awk100/015soccer.html">
		<title>Soccer</title>
		<what>Games</what>
		<what>Awk100</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/awk100/013awklinux.html">
		<title>Awk-Linux</title>
		<what>Top10</what>
		<what>Awk100</what>
		<what>Papers</what>
		<what>Os</what>
		<what>Apr</what>
		<what>2009</what>
		<what>YungC</what>
	</file>
	<file where="doc/awk100/spell.html">
		<title>spell.awk</title>
		<what>Top10</what>
		<what>Awk100</what>
		<what>Mar</what>
		<what>2009</what>
		<what>NelsonB</what>
		<what>Spell</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/tools/spellcheck.html">
		<title>spellcheck.awk</title>
		<what>Nov</what>
		<what>2009</what>
		<what>Spell</what>
		<what>GregoryG</what>
	</file>
	<file where="doc/awk100/009yawk.html">
		<title>Yawk</title>
		<what>Yawk</what>
		<what>Awk100</what>
		<what>Feb</what>
		<what>2009</what>
		<what>WolfganZ</what>
	</file>
	<file where="doc/awk100/008awklisp.html">
		<title>Awklisp</title>
		<what>AwkLisp</what>
		<what>Awk100</what>
		<what>Feb</what>
		<what>2009</what>
		<what>DariusB</what>
	</file>
	<file where="doc/awk100/007name.html">
		<title>Tex-to-bilingual Dictionary</title>
		<what>Name</what>
		<what>Awk100</what>
		<what>Feb</what>
		<what>2009</what>
		<what>BillP</what>
	</file>
	<file where="doc/awk100/006boris.html">
		<title>Fast Clustering</title>
		<what>Top10</what>
		<what>Boris</what>
		<what>Awk100</what>
		<what>Feb</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/awk100/005getYouTube.html">
		<title>Get YouTube Vids</title>
		<what>WWW</what>
		<what>Awk100</what>
		<what>Jan</what>
		<what>2009</what>
		<what>PeterK</what>
	</file>
	<file where="doc/awk100/004sudoku.html">
		<title>Sudoku</title>
		<what>Sudoku</what>
		<what>Awk100</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Jimh</what>
	</file>
	<file where="doc/awk100/003negotiate.html">
		<title>Negotiate</title>
		<what>Negotiate</what>
		<what>Awk100</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/awk100/002baseballsim.html">
		<title>Basebase Sim</title>
		<what>Baseballsim</what>
		<what>Awk100</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/awk100/001argcol.html">
		<title>Argcol</title>
		<what>Argcol</what>
		<what>Awk100</what>
		<what>Jan</what>
		<what>2009</what>
		<what>Ronl</what>
	</file>
	<file where="doc/xgawk/wellformed.html">
		<title>XML: Checking for Well-Formednes</title>
		<what>Xgawk</what>
		<what>XML</what>
		<what>May</what>
		<what>2009</what>
		<what>JurgenK</what>
	</file>
	<file where="doc/xgawk/dtd.html">
		<title>XML: Dealing with DTDs</title>
		<what>XML</what>
		<what>June</what>
		<what>2009</what>
		<what>JurgenK</what>
	</file>
	<file where="doc/xgawk/outline.html">
		<title>XML: printing an outline</title>
		<what>Xgawk</what>
		<what>XML</what>
		<what>May</what>
		<what>2009</what>
		<what>JurgenK</what>
	</file>
	<file where="doc/xgawk/pulling.html">
		<title>XML: pulling out data</title>
		<what>Xgawk</what>
		<what>XML</what>
		<what>May</what>
		<what>2009</what>
		<what>JurgenK</what>
	</file>
	<file where="doc/dumpxml.html">
		<title>XML: Display components</title>
		<what>XML</what>
		<what>May</what>
		<what>2009</what>
		<what>MarkB</what>
	</file>
	<file where="doc/ethiopianMultiplication.html">
		<title>Ethiopian Multiplication</title>
		<what>Sept</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/tawks.html">
		<title>A Tale of Two Tawks</title>
		<what>Sept</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/getxml.html">
		<title>GetXML.awk</title>
		<what>XML</what>
		<what>May</what>
		<what>2009</what>
		<what>JanW</what>
	</file>
	<file where="doc/unicast.html">
		<title>Simulations Unicast Applications</title>
		<what>Papers</what>
		<what>Os</what>
		<what>Apr</what>
		<what>2009</what>
		<what>SallyF</what>
	</file>
	<file where="doc/templates.html">
		<title>Template-driven programming</title>
		<what>Papers</what>
		<what>May</what>
		<what>2009</what>
		<what>JonB</what>
	</file>
	<file where="doc/alerts.html">
		<title>Intrusion alert normalization</title>
		<what>Papers</what>
		<what>Os</what>
		<what>Apr</what>
		<what>2009</what>
		<what>KimD</what>
	</file>
	<file where="doc/textmining.html">
		<title>Text Mining</title>
		<what>TextMining</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/textmine/awknl.html">
		<title>Lexical and Grammar  Analysis</title>
		<what>TextMining</what>
		<what>May</what>
		<what>2009</what>
		<what>YasumasaS</what>
	</file>
	<file where="doc/textmine/languageAnalysis.html">
		<title>Language Analysis</title>
		<what>TextMining</what>
		<what>Mar</what>
		<what>2009</what>
		<what>LotharS</what>
	</file>
	<file where="doc/textmine/severis.html">
		<title>Issue report mining</title>
		<what>TextMining</what>
		<what>Mar</what>
		<what>2009</what>
		<what>Timm</what>
	</file>
	<file where="doc/textmine/textmunge.html">
		<title>Text Munging</title>
		<what>TextMining</what>
		<what>Mar</what>
		<what>2009</what>
		<what>DonaldM</what>
	</file>
	<file where="doc/99bottles.html">
		<title>99 bottles of beer</title>
		<what>Apr</what>
		<what>2009</what>
		<what>WilhelmW</what>
		<what>OsamuA</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/mail.html">
		<title>Awk and Mail</title>
		<what>Mail</what>
		<what>Apr</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/spam.html">
		<title>Spam Filtering</title>
		<what>Mail</what>
		<what>Apr</what>
		<what>2009</what>
		<what>StevenH</what>
	</file>
	<file where="doc/mailsort.html">
		<title>Mail sort</title>
		<what>Mail</what>
		<what>Apr</what>
		<what>2009</what>
		<what>ArnoldR</what>
	</file>
	<file where="doc/eng.html">
		<title>Awk for Engineering</title>
		<what>Engineering</what>
		<what>June</what>
		<what>2009</what>
		<what>Admin</what>
	</file>
	<file where="doc/chem.html">
		<title>Awk for Chemical Engineers</title>
		<what>Engineering</what>
		<what>June</what>
		<what>2009</what>
		<what>EisaA</what>
	</file>
	<file where="doc/mecheng.html">
		<title>Awk for Mechanical Engineers</title>
		<what>Engineering</what>
		<what>June</what>
		<what>2009</what>
		<what>DavidL</what>
	</file>
  </files>
</things>
