<?xml version="1.0"?>
<things>
 <strings>
    <string id="index">etc/themes/slightamnesia</string>
    <string id="source">http://lawker.googlecode.com/svn/fridge</string>
    <string id="site">http://awk.info</string>
    <string id="default">index</string>
    <string id="title">awk.info</string>
    <string id="copyright">
      <![CDATA[
           Content &copy; 2009 <a href="http://awk.info/?timm">Tim Menzies</a>
             under  <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GPL 3.0</a>.
           Design by <a href="http://raykdesign.net">raykdesign.net</a>. 
           Auk images &copy; 2009 <a href="http://awk.info/?doc/who/mikelangman.html">Mike Langman</a>.


]]>
    </string>
    <string id="menu1">
      <![CDATA[  <ul>
                 <li><a href="?index">Home</a>        </li>
                 <li><a href="?advocacy">Why Awk?</a> </li> 
                 <li><a href="?code">Code</a> </li>
                 <li><a href="?community">Community</a> </li>
                 <li><a href="?contribute">Contribute</a> </li>
                 <li><a href="?awk100">Awk100</a> </li>
                 <li><a href="?Who">Credits</a> </li>
                 </ul>
              ]]>
    </string>
    <string id="nav1">
      <![CDATA[
               <a href="http://www.mikelangman.co.uk/">
		 <img id="logo" border=0 alt="Little Auk painting from mikelangman.co.uk" src="http://lawker.googlecode.com/svn/fridge/etc/themes/slightamnesia/leaves_brown.jpg" /></a><br clear=all>
               <div id="left_quote">"Because a little
                   <strike>auk</strike> awk can go a long way."</div>
<center><form action="http://www.google.com/cse" id="cse-search-box">
    <p><input type="hidden" name="cx" value="015406670773682269893:eass5lh8s-w" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="submit" name="sa" value="/Find/" /><input type="text" name="q" value="{print FILENAME,$0}" size="16" />
</form>
</center>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
<hr>
            ]]>
    </string>
    <string id="nav3">
      <![CDATA[
<p id="in">
About Awk<br>
&nbsp;&raquo;&nbsp;  <a href="http://awk.info/?advocacy">advocacy</a><br>
&nbsp;&raquo;&nbsp;  <a href="?Learn">learning</a><br>
&nbsp;&raquo;&nbsp;  <a href="?history">history</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://en.wikipedia.org/wiki/Awk">Wikipedia</a> entry<br>
&nbsp;&raquo;&nbsp;  <a href="?mascot">mascot</a>  
 <hr>
Implementations<br>
&nbsp;&raquo;&nbsp; <a href="http://plan9.bell-labs.com/cm/cs/who/bwk/awk.tar.gz">Awk</a> (old)<br>
&nbsp;&raquo;&nbsp; <a href="http://www.gnu.org/software/gawk/">Gawk</a> (widely used)<br> 
&nbsp;&raquo;&nbsp; <a href="http://freshmeat.net/projects/mawk/">Mawk</a> <br>
&nbsp;&raquo;&nbsp; <a href="http://home.vrweb.de/~juergen.kahrs/gawk/XML/">Xgawk</a> (gawk + xml + ...)<br>
&nbsp;&raquo;&nbsp; <a href="http://jawk.sourceforge.net/">Jawk</a> (Awk in Java JVM)<br>

&nbsp;&raquo;&nbsp; <a href="http://www.shelldorado.com/articles/awkcompat.html">platform support</a>
<hr>
Coding<br>
&nbsp;&raquo;&nbsp;  <a href="http://awk.info/?oneliners">one-liners</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://awk.info/?TenLiners">ten-liners</a><br>
&nbsp;&raquo;&nbsp;  <a href="?Tips">tips</a><br>
&nbsp;&raquo;&nbsp;  the <a href="?awk100">Awk 100</a>
<hr>
Libraries<br>
&nbsp;&raquo;&nbsp;  <a href="http://code.google.com/p/lawker/source/browse/fridge/gawk/">Gawk</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://homepage.mac.com/stefan.tramm/iWiki/DownloadSection.html">Xgawk</a><br>
&nbsp;&raquo;&nbsp;  the <a href="?code">Lawker</a> library<br>
<hr>
Online doc<br>
&nbsp;&raquo;&nbsp;  <a href="http://lawker.googlecode.com/svn/fridge/share/pdf/cheatsheet.pdf">cheat sheet</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://www.nrl.navy.mil/code5595/online-software/manpages/gawk-manpage.html">manual pages</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://www.faqs.org/faqs/computer-lang/awk/faq/">FAQ</a><br>
&nbsp;&raquo;&nbsp;  <a href="http://groups.google.com/group/comp.lang.awk/topics">discussion group</a><br>
<hr>Reading<br>
&nbsp;&raquo;&nbsp;  <a href="http://www.amazon.com/s/ref=nb_ss_b?url=search-alias%3Dstripbooks&field-keywords=awk&x=0&y=0">books</a><br>
&nbsp;&raquo;&nbsp;  articles
</p>
]]>
    </string>
    <string id="nav2">
      <![CDATA[
Contact: <a href="mailto:mail@awk.info">mail@awk.info</a>
<p>
<img   src="http://lawker.googlecode.com/svn/fridge/share/img/icoNews.gif">

<p><b>Feb 21 '09:</b> 
Next <a href="?awk100">Awk100</a> entry: Peteris Krumins "Get YouTube Vids" tool
<a href="http://awk.info/?doc/awk100/005getYouTube.html">More...</a>


<p><b>Feb 18 '09:</b> 
Added: Peteris Krumins' next tutorial Awk one-liner (Part four).
<a href="http://awk.info/?oneliners">More...</a>

<p><b>Feb 17 '09:</b> 
Chris Johnson proposes a new awk icon.
<a href="http://awk.info/?mascot">More...</a>

<p><b>Feb 15 '09:</b> 
This site officially launched.
<a href="http://groups.google.com/group/comp.lang.awk/browse_thread/thread/52cf91f8530b9818#">More...</a>

<p><b>Jan 21 '09:</b> 
Robbins' latest Gawk devel patch
includes support for indirect functions.
<a href="http://groups.google.com:80/group/comp.lang.awk/browse_thread/thread/7a026a902361cbc5#">More...</a>

<p><a href="?oldnews">More news...</a>
<hr>
<p>Fact #27: Little Auks  eat
polar bear <a href="http://en.wikipedia.org/wiki/Little_Auk#Habitat_and_ecology">leftovers</a>.</p>
<a href="http://www.mikelangman.co.uk/"><img alt="Little Auk painting from mikelangman.co.uk" 
              src="http://lawker.googlecode.com/svn/fridge/share/img/littleauk2.jpg" width=135 ></a>
<!--   Button BEGIN -->
<script type="text/javascript">var addthis_pub="timmenzies";</script>
<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" border="0" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
<!-- AddThis Button END -->

]]>
    </string>
    <string id="join"><![CDATA[/<join>(.*)<\/join>/]]></string> 
    <string id="delimiter">``</string>
    <string id="lisp"><![CDATA[/(^\#\||\|\#|^;)/]]> </string>
    <string id="awk"><![CDATA[/^#/]]> </string>
    <string id="htxml"></string>
  </strings>







 <files>
	<file where="doc/credits.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<what> </what>
		<title>Credits</title>
	</file>
	<file where="doc/who/jimh.html">
		<what>Jimh</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<title>Jim Hart</title>
	</file>
	<file where="doc/who/ronl.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<title>Ronald Loui</title>
	</file>
	<file where="doc/who/timm.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<what> </what>
		<title>Tim Menzies</title>
	</file>
	<file where="doc/who/ed.html">
		<what>Ed</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<title>Ed Morten</title>
	</file>
	<file where="doc/who/mikelangman.html">
		<what>Mikel</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Who</what>
		<title>Mike Langman</title>
	</file>
	<file where="doc/who/arnoldr.html">
		<what>ArnoldR</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<title>Arnold Robbins</title>
	</file>
	<file where="doc/who/steffen.html">
		<what>Steffen</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<title>Steffen Schuler </title>
	</file>
	<file where="doc/who/greatauk.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Who</what>
		<what> </what>
		<title>Great Auks</title>
	</file>
	<file where="doc/awk100.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Awk100</what>
		<title>Awk100</title>
	</file>
	<file where="doc/awk100/001argcol.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Awk100</what>
		<what>Argcol</what>
		<title>Argcol</title>
	</file>
	<file where="doc/awk100/002baseballsim.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Awk100</what>
		<what>Baseballsim</what>
		<title>Basebase Sim</title>
	</file>
	<file where="doc/awk100/003negotiate.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Awk100</what>
		<what>Negotiate</what>
		<title>Negotiate</title>
	</file>
	<file where="doc/awk100/004sudoku.html">
		<what>Jimh</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Awk100</what>
		<what>Sudoku</what>
		<title>Sudoku</title>
	</file>
	<file where="doc/advocacy.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>Advocacy</title>
	</file>
	<file where="doc/community.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>Community</title>
	</file>
	<file where="doc/contact.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>Contact</title>
	</file>
	<file where="doc/index.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>Awk.info</title>
	</file>
	<file where="doc/code.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>Coding</title>
	</file>
	<file where="doc/mascot.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<what>Mascot</what>
		<what> </what>
		<title>Mascot</title>
	</file>
	<file where="doc/awk4ai.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>Awk for AI</title>
	</file>
	<file where="doc/history.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<title>History</title>
	</file>
	<file where="doc/whygawk.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Misc</what>
		<what> </what>
		<title>Why Gawk?</title>
	</file>
	<file where="doc/contribute.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Contribute</what>
		<title>How to contribute</title>
	</file>
	<file where="doc/prettyprint.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Contribute</what>
		<title>Pretty print</title>
	</file>
	<file where="doc/unittests.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Contribute</what>
		<title>Unit tests</title>
	</file>
	<file where="doc/learning.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Learn</what>
		<title>Learning Awk</title>
	</file>
	<file where="doc/teachingawk.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Learn</what>
		<title>Teaching Awk</title>
	</file>
	<file where="doc/keys2awk.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Learn</what>
		<title>Four Keys to Awk</title>
	</file>
	<file where="doc/oneliners.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Learn</what>
		<what>OneLiners</what>
		<title>One Liners</title>
	</file>
	<file where="doc/tenliners.html">
		<what>Timm</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Learn</what>
		<what>TenLiners</what>
		<title>Ten Liners</title>
	</file>
	<file where="doc/samples.html">
		<what>Ronl</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Learn</what>
		<what>TenLiners</what>
		<title>Samples of AWK</title>
	</file>
	<file where="doc/tip/getline.html">
		<what>Ed</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Tips</what>
		<what>Getline </what>
		<title>Getline</title>
	</file>
	<file where="doc/tip/noforloops.html">
		<what>Jimh</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Tips</what>
		<what>Forloop</what>
		<title>Forloops</title>
	</file>
	<file where="gawk/array/join.awk">
		<what>Arnoldr</what>
		<what>2009</what>
		<what>Feb</what>
		<what>Arrays</what>
		<what>Timm</what>
		<title>join.awk</title>
	</file>
	<file where="doc/var/top10posters.html">
		<what>Steffen</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Newsgroup</what>
		<title>Top 10 posters</title>
	</file>
	<file where="doc/var/top10subjects.html">
		<what>Steffen</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Newsgroup</what>
		<title>Top 10 subjects</title>
	</file>
	<file where="doc/var/top10posterslastyear.html">
		<what>Steffen</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Newsgroup</what>
		<title>Top 10 posters last year</title>
	</file>
	<file where="doc/var/top10subjectslastyear.html">
		<what>Steffen</what>
		<what>2009</what>
		<what>Jan</what>
		<what>Newsgroup</what>
		<title>Top 10 subjects last year</title>
	</file>
  </files>
</things>
