@import url("http://lawker.googlecode.com/svn/fringe/etc/themes/slightamnesia/style.css");

div { 
	display: none; 
}

div #rci_right_container_inner {	
	display: block;
}

div #rci_left_column {	
	display: block;
}

