/* culture shock: slight amnesia v1.0 by pogy366: http://www.raykdesign.net - Dec. 2005 */

/* general page structure and layout */
html, body {
height:100%;
}

body {
font-family:  verdana,arial,lucida grande, tahoma,verdana,sans-serif;
font-size:.8em; 
color:#000000;
margin:0 0 0 0;
padding:0 0 0 0;
background:#ffffff url(body_bg.jpg) repeat-y;
xtext-align:center;
}

#left_container {
position:absolute;
left:0;
top:0;
width:15em; 
height:100%;
margin:0 0 0 0;
padding:0 0 0 0;
background:#EDE9E6;
border-right:1px solid #DFD8D2;
}

#left_quote {
position:relative;
left:0;
xwidth:9.65em;
margin:0 0 0 0;
padding: 10px 10px 10px 10px;
padding-top:0px;
background:#EDE9E6;
xborder-top:    1px solid #DFD8D2;
border-bottom:1px solid #DFD8D2;
font-size: 14px;
font-style:italic;
color:#AC9C90;
text-align:center;
}
p #in {
	margin-top: 0px;
	padding-top: 0px;
}


hr { 
    border: none;
    border-top: 1px solid #DFD8D2;
    height: 1px;
}
 pre {
    padding: 1em;
	font-family: Monaco, Comic-Sans-Ms, Courier;
	border: 1px dashed #2f6fab;
    color: DarkBlue;
    background-color: #f9f9f9;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
} 
#left_text {
position:relative;
xwidth:16.7em;
margin:0 0 0 0;
padding:5px 5px 5px 5px;
padding-left: 10px;
background:#EDE9E6;
margin-top:0px;
padding-top:0px;
xmargin-left: 10px;
xfont-family:Arial, Helvetica, sans-serif;
font-size:.8em;
color:#000000;
text-align:left;
}

#right_container_outer {
position:absolute;
left:16.3em;
top:1em;
width:42em;
width:750px;
height:100%;
margin:0 0 0 0;
padding:0 0 0 0;
background:#ffffff url(navbar_fade.jpg) top repeat-x;
}

.navbar {
position:relative;
left:0;
top:0;
width:42em;
width: 750px;
height:2em;
margin:0 0 0 0;
padding:0 0 0 0;
background:#ffffff;
}

#navbar_fade {
position:relative;
left:0;
top:0;
width:42em;
width: 750px;
height:3em;
margin:0 0 0 0;
padding:0 0 0 0;
background:#ffffff url(navbar_fade.jpg) top repeat-x;
border-left:1px solid #DFD8D2;
border-right:1px solid #DFD8D2;
}

/*
#rci_left_column  p  {     width: 450px; }
#rci_left_column ul  {     width: 450px; }
#rci_left_column ol  {     width: 450px; }
#rci_left_column dl  {     width: 450px; }
*/

#right_container_inner {
position:relative;
left:0;
top:0;
width:42em;
width:750px;
margin:0 0 0 0;
padding:0 0 .2em 0;
background:#ffffff;
border-left:1px solid #DFD8D2;
border-right:1px solid #DFD8D2;
}

#rci_left_column {
position:relative;
width:31em;
width:550px;
margin:-1em 0 0 .2em;
padding:0 1em 0 1em;
background:transparent;
font-size:.9em;
color:#000000;
xtext-align:left;
}

#rci_right_column {
position:relative;
float:right;
clear:both;
width:12.5em;
margin:0 1em 0 0;
padding:0 0 0 0;
background:#ffffff;
font-size:.8em;
color:#9D958E;
text-align:left;
}

#rci_right_column p {
    margin-top: 0px;
    padding-top: 0px;
}

/* #rci_right_column ul {
margin:.9em 0 0 1.4em !important;
margin:.9em 0 0 1.6em;
padding:0 0 0 0;
list-style-type:circle;
}
*/

#rci_right_column li {
margin:0 0 .3em 0;
padding:0 0 0 0;
}

#footer {
position:relative;
width:100%;
height:2.5em;
margin:0 0 0 0;
padding:.3em .5em 0 0;
xbackground:#ccc;
border-top:1px solid #DFD8D2;
font-size:.85em;
xfont-family:Arial, Helvetica, sans-serif;
color:#808080;
text-align:center;
}

/* top navigation bar */
#nav ul{
padding:0 0 0 0;
margin: 0 0 0 0;
white-space: nowrap;
font-size:1em;
color:#000000;
float:left;
width:100%;
height:2em;
background:transparent;
list-style:none;
}

#nav ul li{
display:inline;
list-style:none;
}

#nav ul li a{
margin: 0 5px 0 0;
padding: .4em 5px .46em 5px;
color:#8E1F0D;
font-weight:bold;
text-decoration:none;
float: left;
background:#ffffff;
border-left:1px solid #DFD8D2;
border-top:1px solid #DFD8D2;
border-right:1px solid #DFD8D2;
}

#nav ul li a:hover{
color:#8E1F0D;
background:#EDE9E6;
font-weight:bold;
text-decoration:none;
}

#nav #current li {
color:#000000;
background:#EDE9E6;
}

#nav #current a {
color:#7A6D62;
background:#EDE9E6;
text-decoration:none;
}

/* font styles */
h1 {
background-image:url(leafs_brown.jpg);
background-repeat:no-repeat;
background-position:.1em .1em;
margin:0 0 -.3em 0;
padding:.8em 0 .5em 3.3em;
}

h2 {
xfont-family:Georgia, "Times New Roman", Times, serif;
Xfont-size:1.9em;
color:#8E1F0D;

}

h3 {
xfont-family:Georgia, "Times New Roman", Times, serif;
margin:0 0 -.8em;
padding:0 0 0 0;
font-size:1em;
color:#8E1F0D;
}

#rci_right_column h3 {
xfont-family:Georgia, "Times New Roman", Times, serif;
margin:0 0 -.8em;
padding:0 0 0 0;
font-size:.9em;
color:#8E1F0D;
}

#left_text h3 {
xfont-family:Arial, Helvetica, sans-serif;
margin:0 0 -.7em;
padding:0 0 0 0;
font-size:1.2em;
color:#8E1F0D;
}

.small {
font-family:"Courier New", Courier, mono;
font-size:.85em;
text-transform:uppercase;
}

/* link styles */
#right_container_inner a {
color:#D96107;
text-decoration:underline;
}

#right_container_inner a:hover {
color:#999999;
text-decoration:none;
}

/* images */
#logo {
margin:.5em 0 0 0;
Xwidth:15em;
width: 180px;
xheight:14em;
}

img {
border:none;
}

/* misc styles */
blockquote {
margin:.3em .6em .7em .6em;
padding:.05em .5em .05em .5em;
background:#ffffff url(navbar_fade.jpg) top repeat-x;
border-top:1px solid #CABEB5;
border-bottom:1px solid #EEEAE7;
border-left:1px solid #D7CDC6;
border-right:1px solid #EEEAE7;
xfont-family:Arial, Helvetica, sans-serif;
color:#7C6C61;
}

/* workarounds and hacks */
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.clearfix {display: inline-table;}

dt { 
   font-weight: bold;
}

p.meta {
	text-align: right;
	font-size: x-small;
	color: #CCC;
}

#htmltoc h2 { color: black; font-size: small; font-weight: normal; 
                          margin: 0 0 0 0; margin-left: 10px;}
#htmltoc h3 { color: black;  font-size: small; font-weight: normal; 
                          margin: 0 0 0 0; margin-left: 40px;}
#htmltoc h4 { color: black;  font-size: small; font-weight: normal; 
                          margin: 0 0 0 0; margin-left: 70px;}
#htmltoc h5 { color: black;  font-size: small; font-weight: normal; 
                          margin: 0 0 0 0; margin-left: 100px;}
#htmltoc h6 { color: black;  font-size: small; font-weight: normal; 
                          margin: 0 0 0 0; margin-left: 130px;}
#htmltoc h7 { color: black;  font-size: small; font-weight: normal; 
                          margin: 0 0 0 0; margin-left: 160px; }

#htmltoc  a {
color:#D96107;
text-decoration:underline;
}

#htmltoc  a:link {
color:#D96107;
text-decoration:underline;
}



#htmltoc  a:visited {
color:#D96107;
text-decoration:underline;
}
#htmltoc a:hover {
color:#999999;
text-decoration:none;
}


/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

tr.row1 { 
 background:#EDE9E6;
}
